.theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #282c34;
    --primary-color: #282c34;
    --secondary-color: #282c34;
    --inverted-primary-color: #5e6571;
    --inverted-secondary-color: #282c34;
    --red: #f50e0e;
    --green: #00b765;
    --card-bg: #f6f4f4;
}
