.theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #2c2e31;
    --primary-color: #2c2e31;
    --secondary-color: #2c2e31;
    --inverted-primary-color: #2c2e31;
    --inverted-secondary-color: #2c2e31;
    --card-bg: #f6f4f4;
}
