.CardWithDescription {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.circleButton {
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16.5px;
    background-color: black;
}

.iconPlus {
    height: 16.5px;
    fill: white;
    transition: all 0.3s ease 0s;
    transform: rotate(0deg);
}

.iconPlus.isActive {
    transform: rotate(45deg);
}

.descriptionBlock {
    position: absolute;
    width: 90%;
    height: 70%;
    overflow: auto;
    transition: opacity 350ms;
    opacity: 0;
    z-index: 0;
}

.descriptionBlock.isActive {
    opacity: 1;
    z-index: 10;
}

.previewBlock {
    height: 70%;
}

.hideText,
.previewBlock {
    opacity: 1;
    transition: opacity 350ms;
    z-index: 10;
}

.hideText.isActive,
.previewBlock.isActive {
    opacity: 0;
    z-index: 0;
}

.descriptionBlock::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.descriptionBlock::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.descriptionBlock::-webkit-scrollbar-thumb {
    background-color: var(--inverted-bg-color);
    border-radius: 3px;
    border: 1px solid var(--bg-color);
}
